/* Nav Bar */
.navbar{
   opacity: 0.8;
   position: absolute;
   width: 100%;
   background-color: black;
   padding: 4px ;
}
.navbar-brand{
    font-size: 2.5rem;
    font-weight: 550;
    margin:  0 6rem;
    font-family: serif;
}
.navbar-brand:hover{
    color: white;
}
.navbar-brand, .nav-item a{
    color: white;
}
.left-navbar{
    margin-left: 2rem;
}
.left-navbar .nav-item{
    padding: 0.5rem 2rem;
}
.right-navbar{
    margin-right: 5rem;
}
.right-navbar .nav-item{
    padding: 0.5rem 1rem;
}
.nav-link{
    font-weight: bold;
    font-size: 12px;
    font-family: 'Open Sans',sans-serif;
}
/* First Page */
.container-fluid{
    padding: 0;
}
.main-screen-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;   
}
.main-background{
    grid-column: 1/2;
    grid-row: 1/4;
    width: 100%;
    height: 100%;   
}
.main-screen{
    grid-row: 1/4;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.grid-item-container{
    color: white;
    margin-bottom: 4rem;
}
.grid-item-container h1{
    font-weight: bold;
    font-size: 5rem;
    margin: 0 0 30px;
}
.grid-item-container p{
    font-size: 1.5rem;  
    font-family: 'Open Sans';
    margin: 45px 0 45px;
}
.grid-item-container button{
    background-color: #FFB343;
    border: none;
    padding: 10px;
    width: 15vw;
    font-weight: bold; 
    border-radius: 4px;
    font-size: 1rem; 
}

/*Second Page*/
.slide-games-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  
}
.slide-games-background{
    grid-column: 1/4;
    grid-row: 1/4;
    width: 100%;
    height: 100%;
}
.slide-games-text{
    grid-column: 1/3;
    grid-row: 1/3;
    display: grid;
    justify-content: left;
    align-items: center;
    text-align: left;
    margin: 0 60px;
}
.slide-games-item-container{
    color: white;
   
}
.slide-games-item-container p{
    font-size: 20px; 
}
.slide-games-item-container h1{
    font-size: 80px;
    font-weight: bold;
}
.slide-games-carousel{
    grid-column: 2/4;
    grid-row: 1/4;
    display: grid;
    justify-content: center;
    align-items:center ;
    margin: 0 100px;
}

/*Third Page*/
#thirdView{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}
.slide-features-background{
    grid-row: 1/2;
    grid-column: 1/3;
    width: 100%;
    height: 100%;
}
.slide-features-text{
    grid-column: 2/3;
    grid-row: 1/4;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 0 10vw 0 0;
}
.slide-features-item-container{
    padding-left: 80px;
    grid-column: 1/2;
    grid-row: 1/4;
    display: flex;
    align-items: center;
    justify-content: left;
}
.slide-features-desc{
    padding-left: 30px;
}
.slide-traditional-games{
    font-size: 24px;
    color: #FFB343;
    margin: 45px 0;
}
.slide-traditional-games p{
    color: white;
}
.slide-features-item-container h1{
    font-size: 80px;
    font-weight: 400;
}
.slide-features-item-container p{
    font-size: 18px;
}

/*Fourth Page*/
#system{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    color: white;
}
.system-background{
    grid-column: 1/4;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
}
.system-container{
    grid-column: 1/2;
    grid-row: 1/2;
    padding:10rem 0 0 5rem;
    width: 100%;
}
.system-container h1{
    font-size: 80px;
    font-weight: bold;
}
.specifications{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
   
}.specifications div{
    border: 1px solid white;
    padding: 20px;
    border-collapse: collapse;
}
.specifications div h3{
    font-size: 24px;
    color: #FFB343;
    font-weight: bold;
}
.specifications div p{
    font-size: 18px;
    margin-bottom: 0;
}
.graphic{
    grid-column: 1/3;
    grid-row: 3/4;
}

/*Fifth Page*/
#scores{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    background-color: black;
    color: white;
}
.scores-background{
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
}
.scores-desc{
    grid-column: 1/2;
    grid-row: 1/2;
    padding:0 16rem 0 5rem;
    display: flex;
    font-size: 21px;
    align-items: center;
}
.scores-desc button{
    background-color: #FFB343;
    border: none;
    padding: 15px;
    width: 17vw;
    font-weight: bold; 
    font-size: 16px;
    margin-top: 2rem;
    border-radius: 5px;
}
.scores-review{
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    padding: 10rem 0;
}
.review-card{
    background-color: rgba(25,27,27,255);
    border-radius: 8px;
    padding: 1.5rem 1rem ;
    width: 70%;    
    margin: 1rem 0;
}
.comment{
    font-size: 18px;
}
.date{
    font-size: 14px;
    color: #525354;
}
.review-1{
    margin-left: 20%;
}
.review-2{
    margin-left: 0;
}
.review-3{
    margin-left: 15%;
}
.info-profile{
    display: flex;
    margin-bottom: 1rem;
}
.profile{
    width: 12%;
    border-radius: 50%;
    box-shadow:5px 2px  #FFB343 ;
}
.profile-item{
    margin: 0 .75rem;
}
.profile-job{
   grid-row: 2/3;
   color: #525354!important;
}
.profile-name{
    grid-row: 1/2;
}
.info-profile p{
    color: #FFB343;
    font-size: 18px;
}
.profile-desc{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-row: 1fr 1fr;
    width: 100%;
}
.profile-desc p{
    font-size: 21px;
    margin: 0;
}
.profile-twitter{
    grid-column: 2/3;
    grid-row: 1/3;
    text-align: right;
}
.profile-twitter img{
    width: 40%;
    top: 10%;
}

/*Sixth Page*/
#newsletters{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 85% 15%;
    background-color: black;
}
.newsletter-background{
    grid-column: 1/3;
    grid-row: 1/3;
    width: 35%;
    height: 65%;
    margin-left: 10rem;
    margin-top: 10rem;
}
.newsletter-text-container{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
}
.newsletter-input button{
    background-color: #FFB343;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    width: 40%;
    padding: .65rem 0;
    border-radius: 0.2rem;
}
.newsletter-input input{
    padding: .65rem 1rem;
    border-radius: 0.2rem;
    margin-right: .5rem;
    background-color: #1c1e1f;
    border: none;
    caret-color: #FFB343;
    color: #FFB343;
}
input::placeholder{
    color: #FFB343;
}
input:focus::placeholder{
    color: transparent;
}
.email{
    display: flex;
    width: 33rem;
}
.footer{
    grid-column: 1/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.6fr;
    padding: 0 4rem;
}
.footer-top{
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
    border-bottom: 0.125rem solid #1c1e1f;
    font-size: 0.75rem;
}
.footer-nav{
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    margin:0 auto;
    align-items: center;
    font-weight: bold;
}
.footer-nav-item:hover{
color: #525354;
}
.footer-top-item{
    margin: 1.5rem 1rem;
    color: white;
}
.footer-top-item p{
    margin-bottom: 0;
}
.footer-top-item:hover{
    text-decoration: none;
    
}
.social-media{
    grid-column: 2/3;
    grid-row: 1/2;
   display: flex;
   align-items: center;
}
.twitter:hover{
  fill: #1DA1F2;
}
.youtube:hover{
    fill: #FF1313;
}
.facebook:hover{
    fill: #4267B2;
}
.twitch:hover{
    fill: #6441a5;
}
.footer-bottom{
     grid-column: 1/2;
     grid-row: 2/3;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr;
     padding: 1rem;
}
.copyright{
    color: #525354;
    font-size: 0.875rem;
    margin: 0;
}
.footer-info{
     grid-column: 2/3;
     grid-row: 1/2;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-row: 1fr;
     display: flex;
     justify-content: right;
}
.info-item{
     margin: 0;
     padding: 0 .75rem;
     text-align: center;
}
.info-item p{
     font-size: 0.75rem;
     margin: 0;
}
.info-item a{
     color: white;
     font-weight: bold;
}
.info-item a:hover{
     text-decoration: none;
     color: #525354;
}
.border-info{
     border-left:.15rem solid #FFF!important;
}

/*RESPONSIVE TABLET*/
 @media screen and (max-width:768px){
    
    .right-navbar{
        margin-right: 0;
    }
    .ml-auto{
        margin-left: 2rem!important;
    }
    .right-navbar .nav-item{
        padding: 0.5rem 2rem;
    }
    .slide-games-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .slide-games-background{
        grid-column: 1/2;
        grid-row: 1/4;
        width: 100%;
        height: 100%;
    }
    .slide-games-text{
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        justify-content: left;
        align-items: center;
        text-align:center;
        margin: auto;
    }
    .slide-games-item-container h1, .grid-item-container h1, .system-container h1{
        font-size: 80px;
    }
    .slide-games-carousel{
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        align-items:center ;
        margin: 0 auto 15vw;
        width: 80%;
    }
    .navbar{
        position: static;
        opacity: 100%;
    }
    
    .grid-item-container p{
        font-size: 18px;
    }
    .grid-item-container{
       position: relative;
       top: 10vw;
    }
    .grid-item-container button{
        width: 25vw;
    }
    .slide-features-text{
        grid-column: 1/3;
        padding: 0;
    }
    .slide-features-desc, .slide-features-item-container{
        padding-left: 0;
    }
    .slide-features-item-container{
        justify-content: center;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.542);
    }
    .system-container{
        grid-column: 1/3;
        grid-row: 1/2;
        padding: 5rem 2rem 10rem;
        text-align: center;
    }
    .specifications{
        text-align: left;
        background-color: rgba(0, 0, 0, 0.542);
    }
    .specifications div p{
        font-size: 1rem;
        margin-bottom: 0;
    }
    #scores{
        grid-template-columns: 1fr;
       
    }
    .scores-desc{
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 2rem;
        text-align: center;
        margin: auto;
        align-items: unset;
    }
    .scores-review{
        grid-column: 1/2;
        grid-row: 2/3;
       display: grid;
       grid-template-rows: repeat(3, 1fr);
       grid-template-columns: 1fr;
       padding: 0 1rem;
    }
    .scores-background{
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .review-1, .review-2, .review-3{
        margin-left: 0;
    }
    .review-card{
        width: 90%;     
        margin: 1rem auto;  
    }
    .scores-desc button{
        width: 25vw;
    }
    .profile{
        width: 7.5%;
    }
    .profile-twitter img{
        width: 25%;
    }
    .newsletter-background{
        position: fixed;
    }
    .info-item p {
        color: black;
    }
} 

/*RESPONSIVE MOBILE*/
@media screen and (max-width:576px){
    .slide-features-text-container{
        padding: 5vw 8vw 0;
    }
    .slide-features-item-container h1{
        font-size: 4rem;
    }
    .slide-features-item-container h3{
        font-size: 1.5rem;
    }
    .slide-features-item-container p{
        font-size: 1rem;
    }
    .slide-games-item-container h1, .grid-item-container h1, .system-container h1, .scores-desc h1{
        font-size: 60px;
    }
    .profile{
        width: 17%;
    }
    .profile-twitter img{
    width: 55%;
    }
    .newsletter-background{
        position: fixed;
    }
    .info-item p {
        color: black;
    }
}
p{
    font-family: 'Open Sans';
}
h1{
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
}
